/*****************/

/* VARIABLES */

/*****************/

/* RBDGD Colors */

$orange: #c96420;
$tan: #ded3b1;
$drkblue: #3d4b5d;

/* Fonts */

$base-font: "Open Sans", sans-serif;
$light: 300;
$italic: 400i;
$black: 800;